* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(Assets/PixelBackgrounds2.png);
  background-size: cover;
  /* animation: animateImage 20s ease 0s infinite alternate forwards;
  background-repeat: no-repeat;  */
}

.pixel {
  background: #ffff;
  height: 40px;
  width: 40px;
  border: solid 1px black;
}

#pixel-board {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@keyframes animateImage {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
