* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 2;
  box-sizing: border-box;
  /* font-size: 100%; */
  /* vertical-align: baseline; */
}

.title {
  padding: 10px 0;
  text-align: center;
  font-family: VT323-Regular, monospace;
  font-size: 55px;
}

.navContainer {
  width: 350px;
  height: 80px;
  display: flex;
  align-items: center;
  margin: auto;
  padding-bottom: 3px;
  justify-content: space-between;
}

.color {
  border: solid black 1px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 3px;
}

/* LISTA DE CORES */

#color1 {
  background-color: black;
}
#color2 {
  background-color: red;
}
#color3 {
  background-color: green;
}
#color4 {
  background-color: yellow;
}
